@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-ThinItalic.ttf');
}

@font-face {
  font-family: 'Girassol';
  src: url('./fonts/Girassol-Regular.ttf');
}


* {
  font-family: 'RobotoMono', monospace;
}

body {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      text-align: center;

      color: #fff;
      background: linear-gradient(to right, rgb(228, 229, 230),  rgb(0, 65, 106));;
}

h1 {
  font-family: 'Girassol';
  color: rgba(71, 64, 64, 0.979);
  font-size: 35px;
  text-decoration-line: underline;
}

